{#/**#}
{#* Created by Alessio Barnini#}
{#* Twitter: @barno7#}
{#* Email : alessio@ibuildings.it#}
{#* Linkedin : https://www.linkedin.com/in/alessiobarnini#}
{#* Web : http://www.ibuildings.it#}
{#*/#}

{#Verifico se arrivo da una chiamata Ajax oppure no#}
{% if app.request.isXmlHttpRequest %}
    {% for utente in users %}
        <li><a href="{{ path('get_utente',{nome:utente.name}) }}">{{ utente.name }}</a>
            - {% if utente.cognome is not null and utente.cognome is not empty %}  {{ utente.cognome }} - {% endif %} {{ utente.email }}
            - <a href="{{ path('cancella_utente',{name:utente.name}) }}">cancella</a>
        </li>
    {%endfor%}
{% else %}
    <li><a href="{{ path('get_utente',{nome:utente.name}) }}">{{ utente.name }}</a>
        - {% if utente.cognome is not null and utente.cognome is not empty %}  {{ utente.cognome }} - {% endif %} {{ utente.email }}
        - <a href="{{ path('cancella_utente',{name:utente.name}) }}">cancella</a>
    </li>
{% endif %}




